.message {
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0px;

    .useravatar {
        width: 40px;
        height: 40px;
        border-radius: 0px;
    }

    .user-info {
        margin-left: 15px;

        p {
            margin: 5px 0px 0px 0px !important;
        }

        .username {
            font-weight: 700;
            font-size: 15px;
            margin-right: 10px;
        }

        .time {
            font-size: 12px;
            font-weight: 300;
        }

        .message {
            font-size: 15px;
        }
    }
}