.slider-option {
    margin: 10px 0px;
    align-items: center;
    cursor: pointer;

    .slider-option-title {
        font-size: 14px;
        margin-left: 8px;
    }

    .slider-option-icon {
        width: 20px;
    }

}
.slider-option-channel {
    font-size: 14px;
    font-weight: 600 !important;
    margin: 12px 10px 0px 0px;
    color: white !important;
}