.slider {
    padding: 5px 10px 15px 15px;
    background: #3f0e40;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    color: white;
    width: 250px;
    height: 100%;

    .slider-header {
        align-items: center;
        border-bottom: 1px solid #693e6b;

        .new-message-icon {
            background-color: white;
            color: #3f0e40;
            padding: 7px;
            border-radius: 50%;
            width: 20px;
        }
    }

    .slider-first-option,
    .slider-second-option {
        border-bottom: 1px solid #693e6b;
    }

    .slider-second-option {
        padding-top: 10px;

        .slider-option-plus-icon {
            background-color: rgba(255, 255, 255, 0.1);
            width: 21px;
        }
    }
}